<div>
  <h2 id="page-heading" data-cy="FriendshipHeading">
    <span>Friendships</span>

    <!-- <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" />
    <button>Search</button> -->
    @let currentUser = this.currentUserProfileId;
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadFriends(currentUser!)" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-friendship"
        [routerLink]="['/userprofile']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Add Friend</span>
      </button> -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (friends.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Friendships found</span>
    </div>
  }

  @if (friends && friends.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span>UserName</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fullName">
              <div class="d-flex">
                <span>Full Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="events">
              <div class="d-flex">
                <span>Events</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (friend of friends; track friend.id) {
            <tr data-cy="entityTable">
              <td>{{ friend.id }}</td>
              <td>
                <a [routerLink]="['/user-profile', friend.id, 'view']">
                  {{ friend.username }}
                </a>
              </td>
              <td>
                {{ friend.fullName }}
              </td>
              <td>
                @if (friendEventsMap[friend.id]?.length) {
                  @for (event of friendEventsMap[friend.id]; track event.id) {
                    <div>
                      {{ event.title }} -
                      {{ event.startTime?.format('YYYY-MM-DD HH:mm') }}
                    </div>
                  }
                } @else {
                  No public events
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/friendship', friend.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/friendship', friend.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(friend)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
