<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Planly Account Creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Hi from us here at Planly, <span th:text="${user.login}">user</span></p>

    <p>Your Planly account has been created. Please follow the link below to access it:</p>

    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}"> Login link </a>
    </p>

    <p>
      Thanks for checking out our project,
      <br />
      <em>Planly</em>
    </p>
  </body>
</html>
