<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Password Reset - Planly</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Hi <span th:text="${user.login}">user</span>,</p>

    <p>We received a request to reset your password. Please click the link below to set a new one:</p>

    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}"> Reset password </a>
    </p>

    <p>If you did not request this, you can safely ignore this email.</p>

    <p>
      Regards,
      <br />
      <em>Planly Team</em>
    </p>
  </body>
</html>
